a {
  color: black;
  text-decoration: none;
}

header {
  text-align: center;
  font-size: 2.5rem;
  padding: 1rem;
  background-color: #457b9d;
  color: aliceblue;
  display: grid;
  grid-template-columns: 0.1fr 1fr 0.1fr;
}

header a {
  color: aliceblue;
}

#headerHomeIcon {
  justify-self: start;
}

#headerTitle {
  justify-self: center;
}

#headerCartIcon {
  justify-self: end;
}

section {
  display: flex;
}

section nav {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background-color: #a8dadc;
  width: 15%;
  text-align: center;
}

section nav a {
  font-size: 1.2rem;
  font-weight: 500;
  color: #103263;
}

section main {
  padding: 1rem;
  width: 100%;
  background-color: white;
}

footer {
  padding: 10px 0;
  background-color: #0b666a;
  display: flex;
  gap: 1rem;
  color: antiquewhite;
  justify-content: center;
}

footer a {
  color: antiquewhite;
  font-size: 12px;
}

.category-title {
  padding: 1rem;
  border-bottom: 1px solid;
}

.category-title:hover {
  background-color: #103263;
  color: #a8dadc;
  transition: 350ms ease all;
}

.products {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
