header {
  text-align: center;
  font-size: 2.5rem;
  padding: 10px 0;
  background-color: #457b9d;
  color: aliceblue;
}

section {
  display: flex;
}

section nav {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  font-size: 1.2rem;
  font-weight: 500;
  background-color: #a8dadc;
  color: #103263;
  width: 15%;
  text-align: center;
}

section main {
  padding: 1rem;
  width: 100%;
  background-color: white;
}

footer {
  font-size: 12px;
  padding: 10px 0;
  background-color: #0b666a;
  color: antiquewhite;
  display: flex;
  gap: 1rem;
  justify-content: center;
}

footer > div {
  cursor: pointer;
}

.category-title {
  padding: 1rem;
  border-bottom: 1px solid;
}

.category-title:hover {
  cursor: pointer;
  background-color: #103263;
  color: #a8dadc;
  transition: 350ms ease all;
}

.products {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
